:root {
  --main-font: helvetica, calibri,sans-serif;
  --nav-link: #4d1d18;
  --nav-link-hover: #555555;
  --main-heading: #87423c;
  --main-heading-size: 36px;
  --sub-heading:#4d1d18;
  --sub-heading-size: 24px;
  --line-height: 150%;
  --content-link:#87423c;
  --footer-link:#87423c;
  /* theme colours */
  --header-background:#cccccc;
  --persian-plum: hsla(5, 68%, 41%, 1);
  --midnight-green-eagle-green: hsla(190, 74%, 37%, 1);
  --pine-green: hsla(177, 91%, 48%, 1);
  --dutch-white: hsla(41, 21%, 84%, 1);
  --cultured: hsla(204, 2%, 96%, 1);
}

body {
  /* font-family: calibri, helvetica, sans-serif; */
  margin: 0;
  background-color:lightblue;
}

.header {
  display: grid;
  grid-template-columns: 30% auto 40%;
  grid-template-rows: auto;
  background-color: var(--header-background);
}

.header>a {
  grid-column: 1 / span 1;
}

.header>a>.logo {
  width: 100%;
}

.main-navigation {
  grid-column: 3 / span 1;
  align-self: end;
  justify-self: end;
  display: flex;
}

.main-navigation a {
  color: var(--primary-links);
  text-decoration: none;
  display: block;
  padding: 1rem;
}

.main-navigation a:hover {
  color: white;
  background-color: black;
}
/* home */
.home-banner {
  background-image: url(../assets/tiraya-adam-_mkb0Vby9tA-unsplash.jpg);
  min-height: 60vh;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-button {
  background-color: var(--midnight-green-eagle-green);
  color: var(--dutch-white);
  padding: 1rem;
  text-decoration: none;
  min-width: 16rem;
  text-align: center;
  border: var(--persian-plum) solid 1px;
  border-radius: 1rem;
  margin-top: 20rem;
  text-shadow: 0 0 1px black;
}

.content {
  min-height: 80vh;
  max-width: 1000px;
  margin: auto;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat( 4, auto ); */
  grid-gap: 1rem;
}
.video {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-secondary {
  background-color: var(--pine-green);
  background-image: url('../assets/ocean_beach3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -100px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
}
.cta-button-secondary {
  background-color: var(--midnight-green-eagle-green);
  color: var(--dutch-white);
  padding: 1rem;
  text-decoration: none;
  min-width: 16rem;
  text-align: center;
  border: var(--persian-plum) solid 1px;
  border-radius: 1rem;
  text-shadow: 0 0 1px black;
  justify-self: center;
  align-self: start;
}
/* booking page */
.booking-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6,auto);
  grid-gap: 1rem;
}
.form-group label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.form-group input {
  display: block;
  padding: 0.3rem;
}
input.full {
  min-width: 100%;
  box-sizing: border-box;
}
textarea.full {
  min-width: 100%;
  box-sizing: border-box;
  min-height: 5rem;
}

.payment .full{
  min-width: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.payment input[type="text"] {
  display: block;
  padding: 0.3rem;
  min-width: 100%;
  box-sizing: border-box;
}
.buttons {
grid-column: 1 / span 1;
grid-row: 6 / span 1;
}

.buttons button {
  padding: 0.5rem;
  background-color: var(--primary-links);
  color: white;
}
.footer {
  margin-top: 6rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 8rem auto auto;
  background-color: var(--header-background);
}
.copyright {
  grid-column-start: 3;
  grid-row-start: 3;
}
.footer-contact {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding: 1rem;
  display: inline-block;
  background-color: var(--primary-links);
  color: #eeeeee
  max-width 8rem;
  max-height: 1.5rem;
  text-decoration: none;
  text-align: center;
  border-radius: 0.5rem;
  justify-self: start;
}

.social-navigation {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  align-self: start;
}

.social-navigation h3 {
  margin: 0;
}

.social-navigation a {
  display: block;
  padding: 1rem;
  color: var(--primary-links);
  font-size: 2rem;
}

.footer-navigation {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: row;
  align-self: end;
}

.footer-navigation a {
  padding: 1rem;
  color: var(--primary-links);
  text-decoration: none;
}

.footer-navigation a:hover {
  color: var(--primary-links);  
}

.meta-nav {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  align-self: end;
  justify-self: end;
  display: flex;
  flex-direction: row;
}

.meta-nav a {
  padding: 1rem;
  color: var(--primary-links);
  align-self: end;
  display: block;
  text-decoration: none;
}

.main-navigation a.active, 
.footer-navigation a.active {
  background-color: var(--primary-links);
  color:#eeeeee
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  grid-gap: 1em;
}

.testimonials-heading {
  grid-column: span 2;
  text-align: center;
}

.testimonials ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-column: span 2;
}

.gallery h1 {
  grid-column: span 3;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}